a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
img {
  border-radius: 10px;
}

.button_back {
  margin: 20px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.episode_details {
  text-align: center;
  font-size: 20px;
}

